version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./ocorrencias.db:/app/ocorrencias.db
      - ./uploads:/app/uploads
    restart: unless-stopped